name: UpdateImages
on:
  push:
    branches: [ renovate/** ]
    paths:
      - 'docker-compose/docker-compose.yml'

permissions: read-all

jobs:
  build:
    name: Update images action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_KEY }}
      - name: "Update versions"
        run: bash propagete-version-update.sh
      - name: "Git commit"
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git add docker-compose-multiarch/docker-compose.yml
          git add docker/example.sh
          git commit -asm "Updating images {patch}"
          git push -f --set-upstream origin ${{ github.ref_name }}
